$c-black: #000;
$c-white: #fff;
$c-gray-dark: #394042;
$c-gray-medium: #4d5355;
$c-gray-light: #9A9A9A;
$c-blue: #3665EA;
$c-green: #60F6A8;
$c-pink: #EC43DD;

$c-bg: $c-black;
$c-text: $c-white;

$ff-default: 'Space Mono', monospace;
$ff-fake: Redacted;
