//Avoid typekit FOUT
html {
  overflow: hidden;

  &.js {
    opacity: 0;
    transition: opacity .2s ease-in-out;

    &.wf-active,
    &.wf-inactive,
    &.ready {
      opacity: 1;
    }
  }
}

body {
  height: 100vh;
  margin: 0;
  background-color: $c-bg;
  color: $c-text;
  
  // SVG sprite
  & > svg {
    display: none;
  }
}

// RWD
img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 2em 0;
}